@import './reseteos/reseteo';
@import './variables/fondos';
@import './secciones/body';
@import './variables/tipografias';
@import './variables/grillas';
@import './secciones/header';
@import './secciones/footer';
@import './variables/titulos';
@import './paginas/index';
@import './paginas/noticias';
@import './paginas/proyectos';
@import './paginas/nosotros';
@import './paginas/contacto';
@import './plantallas/tablet';
@import './plantallas/celular';