@import './reseteos/reseteo';
@import './variables/fondos';
@import './variables/tipografias';
@import './secciones/body';
@import './secciones/header';
@import './secciones/footer';
@import './paginas/index';
@import './paginas/noticias';
@import './paginas/proyectos';
@import './paginas/nosotros';
