@mixin gridEstilo ($display, $gColumns, $gRows) {
    display: $display;
    grid-auto-columns: $gColumns;
    grid-auto-rows: $gRows;
}

@mixin centrado ($jSelf, $aSelf) {
    justify-self: $jSelf;
    align-self: $aSelf;
}