/*Tamaño Celular*/

@media (max-width: 425px) {

    body {
        background-color: #7fcec5;
        background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
    }

    /* Footer general */

    .footer__padre {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .footer__informacion {
        padding: 0;
        font-size: 1rem;
    }

    .footer__redes a {
        padding: 0.5rem;
    }

    .fa-facebook {
        font-size: 1.5rem;
    }

    .fa-instagram {
        font-size: 1.5rem;
    }

    .fa-linkedin {
        font-size: 1.5rem;
    }

    .footer__suscripcion {
        display: none;
    }

    .fa-whatsapp {
        margin: 0;
        padding: 0.3rem;
        bottom: 1rem;
        right: 1rem;
        font-size: 2rem;
    }

    .footer__copyright {
        font-size: 1rem;
    }

    /* Inicio */

    .section1--inicio,
    .section1--nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        width: 90vw;
    }

    .banner {
        margin: 0.5rem 0;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        height: 3rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .textoNosotros {
        padding: 1rem;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
    }

    h2,
    h3 {
        padding: 0 0 0.5rem 0;
        font-size: 1.5rem;
    }

    .index__link--proyectos {
        grid-area: 1 / 1 / 2 / 2;
        justify-self: center;
        align-self: stretch;
    }

    .indexProyectos__img--A {
        grid-area: 2 / 1 / 3 / 2;
    }

    .indexProyectos__img--B {
        grid-area: 3 / 1 / 4 / 2;
    }

    .indexProyectos__img--C {
        grid-area: 4 / 1 / 5 / 2;
    }

    .indexProyectos__img--D {
        grid-area: 5 / 1 / 6 / 2;
    }

    /* Noticias */

    .article1--noticias {
        grid-area: 3 / 1 / 4 / 5;
        justify-self: center;
        align-self: center;
        margin: 0.5rem;
    }

    .article2--noticias {
        grid-area: 5 / 1 / 6 / 5;
        justify-self: center;
        align-self: center;
        margin: 0.5rem;
    }

    .article1--noticias iframe,
    .article2--noticias iframe {
        display: none;
    }

    .oculto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        font-size: 1rem;
        color: #000;
    }

    .noticia img {
        width: 50%;
    }

    /* Proyectos */

    h4 {
        padding: 0 0 0.5rem 0;
        font-size: 1.2rem;
        font-weight: 900;
        letter-spacing: 0;
    }

    .contenedor__img--barco {
        justify-self: center;
        align-self: center;
        margin: 0.3rem;
    }

    .img--proyecto {
        width: 15rem;
    }

    .texto--barco {
        padding: 0.3rem;
        font-size: 1rem;
        font-weight: 500;
    }

    .contenedor--finalizados {
        grid-area: 3 / 1 / 4 / 5;
        display: grid;
        grid-auto-columns: auto;
        grid-auto-rows: auto;
    }

    .titulo--finalizados {
        grid-area: 1 / 1 / 2 / 4;
    }

    .titulo--barcoA {
        grid-area: 2 / 1 / 3 / 4;
    }

    .img--barcoA {
        grid-area: 3 / 1 / 4 / 4;
    }

    .texto--barcoA {
        grid-area: 4 / 1 / 5 / 4;
    }

    .titulo--barcoB {
        grid-area: 5 / 1 / 6 / 4;
    }

    .img--barcoB {
        grid-area: 6 / 1 / 7 / 4;
    }

    .texto--barcoB {
        grid-area: 7 / 1 / 8 / 4;
    }

    .contenedor--enObra {
        display: grid;
        grid-auto-columns: auto;
        grid-auto-rows: auto;
        grid-area: 4 / 1 / 5 / 5;
    }

    .titulo--enObra {
        grid-area: 1 / 1 / 2 / 4;
    }

    .titulo--barcoC {
        grid-area: 2 / 1 / 3 / 4;
    }

    .img--barcoC {
        grid-area: 3 / 1 / 4 / 4;
    }

    .texto--barcoC {
        grid-area: 4 / 1 / 5 / 4;
    }

    .contenedor--prototipos {
        display: grid;
        grid-auto-columns: auto;
        grid-auto-rows: auto;
        grid-area: 5 / 1 / 6 / 5;
    }

    .titulo--prototipos {
        grid-area: 1 / 1 / 2 / 4;
    }

    .titulo--barcoD {
        grid-area: 2 / 1 / 3 / 2;
    }

    .img--barcoD {
        grid-area: 3 / 1 / 3 / 4;
    }

    .texto--barcoD {
        grid-area: 4 / 1 / 5 / 4;
    }

    /* Nosotros */
    /* No es necesario alterar más el contenido */

    /* Contacto */

    .form__label {
        width: 80%;
    }

    .form__input,
    .form__textarea {
        width: 80%;
    }
}