/* Inicio */

@import './variables/tipografias';
@import './variables/grillas';

.grilla--inicio {
    @include gridEstilo (grid, auto, auto);
    grid-auto-flow: column;
    min-height: 100vh;
}

.header--inicio {
    grid-area: 1 / 1 / 2 / 5;
}

.section1--inicio {
    grid-area: 2 / 1 / 5 / 5;
    margin: 1rem;
    width: 80vw;
    @include gridEstilo (grid, auto, auto);
    @include centrado (center, center);
}

.titulo--inicio {
    grid-area: 1 / 1 / 2 / 3;
}


.divImg {
    grid-area: 2 / 1 / 3 / 2;
}

.textoNosotros--inicio {
    grid-area: 2 / 2 / 3 / 3;
}

.fondo {
    background-color: $fondoBloques;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px 0px $fondoSombra--debil;
}

.banner {
    margin: 0.5rem 0;
    padding: 0 0.5rem 0.5rem 1rem;
    height: 4rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    color: #000;
}

.imagenInicio,
.imagenNosotros {
    margin: 1rem;
    padding: 1rem;
    height: min-content;
    background-image: url(../assets/img/fondo.jpg);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 3px 3px 5px 0px $fondoSombra--debil;
}

.imagenInicio img,
.imagenNosotros img {
    height: 20rem;
}


.textoNosotros {
    padding: 1rem;
    // @extend %textoInformativo;
}

.section2--inicio {
    grid-area: 5 / 1 / 7 / 5;
    @include centrado (center, center);
    width: 80%;
}

h2,
h3 {
    padding: 0 0.5rem 0 0.5rem;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
}

.footer--inicio {
    grid-area: 7 / 1 / 8 / 5;
}