/* Nosotros */

.grilla--nosotros {
    @include gridEstilo (grid, auto, auto);
}

.header--nosotros {
    grid-area: 1 / 1 / 2 / 5;
}

.section1--nosotros {
    grid-area: 2 / 1 / 5 / 5;
    @include centrado (center, stretch);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 90vw;
}

.footer-nosotros {
    grid-area: 5 / 1 / 6 / 5;
}