/* Noticias */

@import './variables/grillas';

.grilla--noticias {
    @extend %gridAuto;
    min-height: 100vh;
}

.header--noticias {
    grid-area: 1 / 1 / 2 / 5;
}

.section1--noticias {
    grid-area: 2 / 1 / 3 / 5;
    @extend %centrado;
}

.article1--noticias {
    grid-area: 3 / 1 / 6 / 3;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 1rem;
    padding: 1rem;
    width: 95%;
}

.article2--noticias {
    grid-area: 3 / 3 / 6 / 5;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 1rem;
    padding: 1rem;
    width: 95%;
}

.article1--noticias iframe,
.article2--noticias iframe {
    width: 100%;
    height: 50rem;
    background-color: #fff;
}

.oculto {
    display: none;
}

.footer--noticias {
    grid-area: 6 / 1 / 7 / 5;
}