/* Proyectos */

.grilla--proyectos {
    @include gridEstilo (grid, auto, auto);
    min-height: 100vh;
}

.header--proyectos {
    grid-area: 1 / 1 / 2 / 5;
}

.section1--proyectos {
    grid-area: 2 / 1 / 3 / 5;
    @include centrado (center, stretch);
}

.contenedor--estado {
    margin: 0.5rem 0.5rem 1rem 1rem;
}

.fondo--proyectos {
    margin: 0;
    padding: 0;
    background-color: $fondoNo;
    box-shadow: none;
}

.contenedor__titulo--estado {
    @include centrado (center, center);
    text-align: center;
}

.contenedor__titulo--proyectos {
    @include centrado (center, stretch);
}

.contenedor__img--barco {
    @include centrado (center, center);
    margin: 1rem;
}

.img--proyecto {
    width: 30rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px 0px $fondoSombra--debil;
}

.texto--barco {
    @include centrado (center, center);
    margin: 0;
    padding: 0.3rem;
    text-align: left;
    @include texto (1.2rem, 500);
}

.contenedor--finalizados {
    grid-area: 3 / 1 / 4 / 5;
    @include gridEstilo (grid, auto, auto);
}

.titulo--finalizados {
    grid-area: 1 / 1 / 2 / 4;
}

.titulo--barcoA {
    grid-area: 2 / 1 / 3 / 2;
}

.img--barcoA {
    grid-area: 3 / 1 / 5 / 2;
}

.texto--barcoA {
    grid-area: 3 / 2 / 4 / 4;
}

.tareas--BarcoA {
    grid-area: 4 / 2 / 5 / 4;
}

.titulo--barcoB {
    grid-area: 5 / 1 / 6 / 2;
}

.img--barcoB {
    grid-area: 6 / 1 / 8 / 2;
}

.texto--barcoB {
    grid-area: 6 / 2 / 7 / 4;
}

.tareas--BarcoB {
    grid-area: 7 / 2 / 8 / 4;
}

.contenedor--enObra {
    @include gridEstilo (grid, auto, auto);
    grid-area: 4 / 1 / 5 / 5;
}

.titulo--enObra {
    grid-area: 1 / 1 / 2 / 4;
}

.titulo--barcoC {
    grid-area: 2 / 1 / 3 / 2;
}

.img--barcoC {
    grid-area: 3 / 1 / 5 / 2;
}

.texto--barcoC {
    grid-area: 3 / 2 / 4 / 4;
}

.tareas--BarcoC {
    grid-area: 4 / 2 / 5 / 4;
}

.contenedor--prototipos {
    @include gridEstilo (grid, auto, auto);
    grid-area: 5 / 1 / 6 / 5;
}

.titulo--prototipos {
    grid-area: 1 / 1 / 2 / 4;
}

.titulo--barcoD {
    grid-area: 2 / 1 / 3 / 2;
}

.img--barcoD {
    grid-area: 3 / 1 / 5 / 2;
}

.texto--barcoD {
    grid-area: 3 / 2 / 4 / 4;
}

.tareas--BarcoD {
    grid-area: 4 / 2 / 5 / 4;
}

.footer--proyectos {
    grid-area: 6 / 1 / 7 / 5;
}