/* Footer general */

.footer--general {
    justify-self: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    width: 96vw;
    font-size: 1.5rem;
    font-weight: 900;
}

.footer__padre {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__informacion {
    padding: 1rem;
}

.footer__redes {
    display: flex;
    flex-direction: row;
}

.footer__redes a {
    padding: 1rem;
    font-size: 4rem;
}

.footer__redes i {
    font-size: 4rem;
}

.fa-facebook {
    font-size: 2rem;
    background-color: #2b4170;
    background: -webkit-linear-gradient(top, #3b5998, #2b4170);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-instagram {
    font-size: 2rem;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-facebook:hover,
.fa-instagram:hover {
    border-radius: 50%;
    box-shadow: 3px 3px 5px 0px $fondoSombra--fuerte;
}

.fa-linkedin {
    font-size: 2rem;
    background: #2867B2;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-linkedin:hover {
    box-shadow: 3px 3px 5px 0px $fondoSombra--fuerte;
}

.footer__suscripcion {
    display: flex;
    flex-direction: column;
    padding: 0 3rem 0 0;
}

.footer__suscripcion form input {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 900;
    border: none;
    border-radius: 0.5rem;
    background-color: #ffffff;
    color: #000;
}

.suscripcion--boton {
    background: linear-gradient(180deg, #647ed4 0%, #77e0fa 100%);
    transition: all .3s;
}

.suscripcion--boton:hover {
    background: linear-gradient(180deg, #fbde74 0%, #ff9900 100%);
    transition: all .3s;
}

.fa-whatsapp {
    position: fixed;
    margin: 0;
    padding: 0.6rem;
    bottom: 2vh;
    right: 1vw;
    font-size: 3rem;
    color: #fff;
    background-color: #3ec34f;
    border-radius: 50%;
}

.fa-whatsapp:hover {
    border-radius: 50%;
    box-shadow: 3px 3px 5px 0px $fondoSombra--fuerte;
}

.footer__copyright {
    text-align: center;
    font-style: italic;
    font-weight: 900;
}