/* Header general */

.header--general {
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
    padding: 0.3rem;
    min-height: 2rem;
    width: 96vw;
    font-size: 1.5rem;
    font-weight: 900;
    background-color: $fondoHeader;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px 0px $fondoSombra--debil;
}

.logo img {
    margin: 0;
    padding: 0.5rem 0 0 0.5rem;
    height: 3rem;
}

.logo {
    animation-name: animar;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@keyframes animar {
    0% {
        transform: rotate(0deg) translateX(50px);
    }

    10% {
        transform: rotate(-5deg) translateX(45px);
    }

    20% {
        transform: rotate(0deg) translateX(40px);
    }

    30% {
        transform: rotate(5deg) translateX(35px);
    }

    40% {
        transform: rotate(0deg) translateX(30px);
    }

    50% {
        transform: rotate(-5deg) translateX(25px);
    }

    60% {
        transform: rotate(0deg) translateX(20px)
    }

    70% {
        transform: rotate(5deg) translateX(15px)
    }

    80% {
        transform: rotate(0deg) translateX(10px);
    }

    90% {
        transform: rotate(-5deg) translateX(5px);
    }

    100% {
        transform: rotate(0deg) translateX(0px);
    }
}

/* Menus */

a {
    text-decoration: none;
    color: #000ba0;
}

header a:hover,
a h2:hover,
a h3:hover {
    background: $fondoSombra--debil;
    border-radius: 0.5rem;
    transition: .5s ease;
}

#btn-menu {
    display: none;
}

header label {
    visibility: hidden;
}

.fa-bars {
    font-size: 2rem;
}

header nav ul {
    margin: 1rem;

    li {
        display: inline-block;
        margin: 0 1rem 0 0;

        ul {
            display: none;
            position: absolute;
            margin: 1.2rem 0;
            padding: 0;
            border-radius: 0 0 1rem 1rem;
            top: 1rem;

            li {
                display: block;
            }
        }
    }    
}

header ul li:hover ul {
    display: block;
    background-color: $fondoHeader;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 3px 6px 5px -4px $fondoSombra--debil;
}

.linkActive {
    border: 3px solid;
    border-radius: 0.5rem;
}

/*Submenu*/

.submenu {
    position: relative;
}

/* Icono submenu */

.fa-sort-down {
    margin-left: 0.5rem;
}